.cart {
  width: 200px;
  height: 450px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid black;
  
  &_in-basket {
    background-color: greenyellow;
  }
}